<div class="container-fluid">
    <h2> <img id="logo"
            src="https://cdn2.iconfinder.com/data/icons/royal-crowns/512/royal-alphabet-crown-letter-english-c-512.png"
            alt="logo" width="100" height="100">
        Description</h2>
    <br>
    <p>The 'Change Detector' is a super fancy page on which individual websites can be easily checked with a special
        request for content on a site and if the content of the site has been chnaged.</p>
        <br>
        <h4> Configuration </h4>
        <p>Under the register 'configuration' it is possible to enter the URL for the page to be monitored and the query.</p>
            <br>
            <h4> View </h4>
            <p>Under the register 'view' it is possible to to see the content.</p>
</div>

<router-outlet></router-outlet>